
.header{
    background: #FFF8F3;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.spn{
  color:#FD6E0A 
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.P-B{
    color: var(--white-color, #FFF);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    
    width: 100px;
height: 40px;  
border-radius: 5px;
background: #FD6E0A;
}

banner section
.bnr0{
    background-color: #FFF8F3;
    max-width: 500px;
}

.bnr1{
    color: var(--dark-02, #474747);
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.bnr2{
    color: var(--dark-01, #181818);
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.bnr3{
    color:#474747;
font-size: 18px;
font-style: normal;
font-weight: 400px;
line-height: normal;
text-align: center;
}
.pb{
    width: 150px;
}
.banner-main{
    display: flex;
    justify-content: center;
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-around;

}

.hardybhai{
    width: 400px;
}

/* start about section */

.About-Sec{
    width: 500px;
    height: 500px;
    border-radius: 10px;
background: #FFF8F3;
margin: 100px Auto;
padding: 130px;}



.bnr1-p{
    color: var(--dark-02, #474747);
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}

.About-Info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* what i do section */
.bnr3-what-i-do{
    display: flex;
    width: 909px;
    flex-direction: column;
    flex-shrink: 0; 
    color: #757575;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
align-items: center;
margin:0 auto
}

/* about skills  */

/* .skills{
    display: flex;
    padding: 30px;
margin:0 auto;
width: 150px
gap: 30px;
} */

.skills{
    display: flex;
    gap: 30px;
height: 377px;
margin: 0 300px;
flex-shrink: 0;
align-items: center;
background:white
align-items:center;
justify-content:space-between
border:1px solid
}
.skill-p{
    width: 150px;
    font-size: medium;
}

/* resume  */

.Resume{
    color:  #474747;
font-size: 30px;
font-style: normal;
font-weight: 700;
}

.resume1{
    color:#474747;

font-size: 25px;
font-style: normal;
font-weight: 700;
}
.resume2{
    color: #757575;
font-size: 20px;
font-style: normal;
font-weight: 600;

}
.resume3{
    color:  #757575;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 300px;
justify-content: space-between;

}

.resume-cont{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 300px;
}


.ResumeDownload{
    text-align: center;
}