
.header{
    background: #FFF8F3;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.spn{
  color:#FD6E0A 
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.P-B{
    color: var(--white-color, #FFF);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    
    width: 100px;
height: 40px;  
border-radius: 5px;
background: #FD6E0A;
}

banner section
.bnr0{
    background-color: #FFF8F3;
    max-width: 500px;
}

.bnr1{
    color: var(--dark-02, #474747);
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.bnr2{
    color: var(--dark-01, #181818);
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.bnr3{
    color:#474747;
font-size: 18px;
font-style: normal;
font-weight: 400px;
line-height: normal;
}
.pb{
    width: 150px;
}
.banner-main{
    display: flex;
    justify-content: center;
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-around;

}

.hardybhai{
    width: 400px;
}